<div class="container">
  <footer class="site-footer">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <p><small>© 2016. {{ site.title }}. All rights reserved.</small></p>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/popper.min.js"  | relative_url  }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url  }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.1.9/cloudinary-core-shrinkwrap.min.js"></script>
<script>
  var cl = cloudinary.Cloudinary.new();
  cl.init();
  cl.responsive();
</script>