<div class="container">
  <footer class="border border-left-0 border-right-0 border-color-secondary text-center p-3 mb-3">
    {{ site.title }} <span class="text-secondary">© 2017. {{ site.title }}. All rights reserved.</span>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{{ "assets/js/popper.min.js"  | relative_url  }}"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relative_url  }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.1.9/cloudinary-core-shrinkwrap.min.js"></script>
<script>
  var cl = cloudinary.Cloudinary.new();
  cl.init();
  cl.responsive();
</script>
<script src="{{ "/assets/js/lazysizes.js"  | relative_url  }}" async></script>
