<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicons/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicons/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicons/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/assets/images/favicons/manifest.json" | relative_url }}">
  <link rel="mask-icon" href="{{ "/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/images/favicons/favicon.ico" | relative_url }}">
  <meta name="msapplication-config" content="{{ "/assets/images/favicons/browserconfig.xml" | relative_url }}">
  <meta name="theme-color" content="#ffffff">
</head>